# cache directories
Thumbs.db
*.DS_Store
*.empty

#phpstorm project files
.idea

#netbeans project files
nbproject

#eclipse, zend studio, aptana or other eclipse like project files
.buildpath
.project
.settings

# sass cache files
*.sass-cache

# mac deployment helpers
switch
index

# runtime and cache directories
/api/runtime
/console/runtime

/backend/www/assets
/backend/runtime
/backend/www/cache
/frontend/www/assets
/frontend/runtime
/frontend/www/cache
/partner/runtime
/partner/www/cache
/partner/www/assets

config/logrotate.conf
logrotate_status

# configuration files
/api/config/env.php
/api/config/local.php
/console/config/env.php
/console/config/local.php
/backend/config/env.php
/backend/config/local.php
/frontend/config/env.php
/frontend/config/local.php

# yiinitializr env.lock file
/common/lib/Yiinitializr/config/env.lock

# composer
# /common/lib/vendor
composer.lock

/frontend/www/uploads
/partner/www/uploads

/frontend/www/cache
/partner/www/cache

/build/node_modules
/build/bower_components

/common/lib/vendor/yiisoft/yii/framework/

npm_debug.log
build/npm_debug.log